.log{
 display:flex;
justify-content:left;
margin-top: 90px;
}
.form{
    height:380px;
    width:300px;
    border:1px solid #dbdbdb;
    text-align:center;
    background-color: white;
}
form{
    margin-top:25px;
}
form input{
    width:258px;
    height:36px;
    margin:5px;
    border:1px solid #dbdbdb;
    background-color: #fafafa;
    padding-left:10px;
    border-radius: 5px;
}
form button{
    width:270px;
    height:36px;
    border-radius:5px;
    border: 1px solid #0395f6;
    font-weight: bold;
    background-color:#0395f6;
    color:whitesmoke;
    margin-top:10px;
}